.footer-container {
  background-color: #1e88e5;
  color: white;
}

.footer-brand {
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-link {
  color: #ffffffcc;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer-link:hover {
  text-decoration: underline;
  color: white;
}
